@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Spectral:wght@500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: -1px;
  font-size: 2em;
  width: 99vw;
}
::-webkit-scrollbar {
  display: none;
}
nav {
  position: sticky;
  top: 0;
  background-color: #ffc017;
  display: flex;
  justify-content: space-between;

  border-bottom: solid 1px black;
  line-height: 1.5em;
  height: 100px;
  align-items: center;
  font-size: 70%;
  width: 100vw;
  z-index: 5;
}
nav img {
  height: 30%;
  margin-left: 5%;
}
nav div {
  display: flex;
  align-items: baseline;
  margin-right: 5%;
}
nav div ul {
  display: flex;
}
nav div ul li {
  margin-left: 13px;
  list-style: none;
}
nav div button {
  font-size: 0.8em;
}

button {
  color: white;
  background-color: black;
  border-radius: 30px;
  margin-left: 20px;
  border: none;
  height: 50px;
  width: 130px;
}

header {
  background-color: #ffc017;
  border-bottom: solid 1px grey;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100vw;
}

h1 {
  font-family: "Spectral", serif;
  font-size: 80px;
  font-weight: 500;
  margin-bottom: 5%;
}

.headerSx {
  line-height: 1;
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 5%;
}

.headerSx button {
  height: 40px;
  width: 200px;
  margin-top: 5%;
  margin-left: 0px;
  font-size: 0.6em;
}

main {
  border-bottom: solid 1px lightgrey;
}
.primaSezione {
  width: 100%;
  padding-bottom: 50px;
  border-bottom: solid 1px lightgrey;
  font-size: 0.6em;
  display: flex;
  flex-direction: column;
}
.primaSezione .articoliUno {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.primaSezione h3 {
  margin-left: 2.5%;
}

.primaSezione article {
  display: flex;
  width: 30%;
  margin: 30px;
}
.primaSezione article .numero {
  margin-right: 10px;
  margin-top: -10px;
  color: rgb(224, 224, 224);
  font-weight: 700;
  font-size: xx-large;
}
.primaSezione article .nome {
  margin-top: 10px;
  display: flex;
}
.primaSezione article .titolo {
  font-weight: 700;
}
.primaSezione article .data {
  color: lightslategray;
}
.primaSezione article .nome img {
  height: 40px;
  margin-right: 15px;
}
.primaSezione article:first-child .nome img {
  border-radius: 50%;
}
.primaSezione article:nth-child(3) .nome img,
article:nth-child(4) .nome img,
article:nth-child(5) .nome img,
article:nth-child(6) .nome img {
  border-radius: 25%;
}

.primaSezione article .nome span {
  color: grey;
  margin-left: 5px;
  margin-right: 5px;
}
.parteDue {
  display: flex;
  justify-content: space-around;
}
.secondaSezione {
  width: 60%;
}
.secondaSezione article {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.secondaSezione article .articoloGrande {
  display: FLEX;
  flex-direction: column;
  width: 100%;
}
.secondaSezione article .fotoArticolo {
  height: 100%;
  margin-left: 5%;
}
.secondaSezione article .fotoArticolo img {
  height: 200px;
}

.secondaSezione article .nome {
  font-size: 0.7em;
  font-weight: 600;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.secondaSezione article .titolo {
  font-weight: 700;
}
.secondaSezione article .metaTesto {
  font-size: 0.8em;
  color: grey;
}

.secondaSezione article .data {
  color: lightslategray;
  font-size: 0.5em;
  display: flex;
  justify-content: space-between;
}
.secondaSezione article .nome img {
  height: 40px;
  margin-right: 15px;
}

.secondaSezione article .nome span {
  color: grey;
  margin-left: 5px;
  margin-right: 5px;
}
.parteDue .secondaSezione .articoloGrande .data .bottoneGrigio {
  background-color: rgb(241, 241, 241);
  padding: 5px;
  border-radius: 20px;
}

.parteDue .scopri .argomenti,
.footerBar {
  list-style: none;
}
.parteDue .scopri {
  width: 25%;
}
.parteDue .scopri .titoloArgomenti {
  font-size: 0.5em;
  font-weight: 700;
}
.parteDue .scopri .argomenti {
  display: flex;
  flex-wrap: wrap;
  border-bottom: solid 1px lightgray;
  padding-bottom: 25px;
}
.parteDue .scopri .argomenti li {
  border: solid 1px lightgray;
  margin: 5px;
  padding: 10px;
  font-size: 0.5em;
  color: gray;
}
.parteDue .scopri .footerBar {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.5em;
  margin-top: 20px;
  margin-bottom: 35px;
}
.parteDue .scopri .footerBar li {
  margin-right: 25px;
  color: grey;
}
@media screen and (max-width: 768px) {
  .primaSezione {
    padding: 5%;
  }
  .primaSezione article {
    margin-right: 10%;
  }
  .primaSezione article .data {
    display: flex;
    justify-content: space-between;
  }
  .primaSezione article .data img {
    display: none;
  }
  .primaSezione .articoliUno {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  nav div {
    font-size: 0.7em;
  }
  nav div button {
    height: 35px;
    width: 100px;
  }
  .primaSezione {
    margin: 0px;
  }
  .headerDx {
    position: sticky;
  }
  .parteDue {
    flex-direction: column-reverse;
    align-items: center;
  }
  .secondaSezione {
    width: 90%;
  }
  .parteDue .secondaSezione .articoloGrande .nome {
    font-size: 0.6em;
  }
  .parteDue .secondaSezione .articoloGrande .titolo {
    font-size: 0.6em;
  }
  .parteDue .secondaSezione .articoloGrande .metaTesto {
    font-size: 0.5em;
  }
  .parteDue .scopri {
    width: 90%;
  }

  .parteDue .scopri .footerBar {
    width: 100%;
  }
  .parteDue .scopri .argomenti {
    margin-right: 15%;
  }
  .parteDue .scopri .argomenti li {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  nav {
    height: 60px;
    justify-content: space-between;
    font-size: 0.6em;
  }
  nav div ul li:nth-child(1),
  li:nth-child(2),
  li:nth-child(3) {
    display: none;
  }
  nav img {
    height: 30%;
  }
  nav div button {
    height: 35px;
    width: 100px;
  }
  header {
    align-items: center;
    height: 300px;
  }
  .primaSezione {
    margin: 0px;
  }
  .headerDx {
    display: none;
  }
  .headerSx h1 {
    font-size: 1.8em;
  }
  .headerSx p {
    font-size: 0.5em;
  }
  .headerSx .primaSezione {
    margin: 5%;
  }
  .primaSezione .articoliUno {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
  }
  .primaSezione .articoliUno article {
    width: 100%;
  }
  article {
    font-size: 0.6em;
  }
  .secondaSezione article {
    font-size: 0.5em;
  }
  .secondaSezione article .articoloGrande .nome img {
    scale: 0.5;
  }

  .secondaSezione article .fotoArticolo img {
    height: 100px;
  }
}
