@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Spectral:wght@500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: -1px;
  font-size: 2em;
}
nav {
  background-color: #ffc017;
  display: flex;
  justify-content: space-between;

  border-bottom: solid 1px black;
  line-height: 1.5em;
  height: 40px;
  align-items: center;
  font-size: 70%;
}
nav img {
  height: 60%;
  margin-left: 5%;
}
nav div {
  display: flex;
  align-items: baseline;
  margin-right: 5%;
}
nav div ul {
  display: flex;
}
nav div ul li {
  margin-left: 13px;
  list-style: none;
}
nav div button {
  font-size: 50%;
  padding: 7px;
}

button {
  color: white;
  background-color: black;
  border-radius: 15px;
  margin-left: 20px;
  border: none;
}

header {
  background-color: #ffc017;
  border-bottom: solid 1px grey;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

h1 {
  font-family: "Spectral", serif;
  font-size: 55px;
  font-weight: 500;
  margin-bottom: 5%;
}

.headerSx {
  line-height: 1;
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 5%;
}

.headerSx button {
  font-size: 50%;
  height: 25px;
  width: 130px;
  margin-top: 5%;
  margin-left: 0px;
}

main {
  border-bottom: solid 1px lightgrey;
}
.primaSezione .articoliUno {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.primaSezione h3 {
  margin-left: 2.5%;
}

.primaSezione {
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  border-bottom: solid 1px lightgrey;
  font-size: 0.6em;
}

.primaSezione article {
  display: flex;
  width: 30%;
}
.primaSezione article .numero {
  margin-right: 10px;
  margin-top: -10px;
  opacity: 0.1;
  font-weight: 700;
  font-size: xx-large;
}
.primaSezione article .nome {
  margin-top: 10px;
  display: flex;
}
.primaSezione article .titolo {
  font-weight: 700;
}
.primaSezione article .data {
  color: lightslategray;
}
.primaSezione article .nome img {
  height: 40px;
  margin-right: 15px;
}
.primaSezione article:first-child .nome img {
  border-radius: 50%;
}
.primaSezione article:nth-child(3) .nome img,
article:nth-child(4) .nome img,
article:nth-child(5) .nome img,
article:nth-child(6) .nome img {
  border-radius: 25%;
}

.primaSezione article .nome span {
  color: grey;
  margin-left: 5px;
  margin-right: 5px;
}
.secondaSezione {
  width: 50%;
}
.secondaSezione article {
  display: flex;
  width: 100%;
  margin-left: 10%;
  margin-bottom: 60px;
}
.secondaSezione article .articoloGrande {
  width: 60%;
}
.secondaSezione article .fotoArticolo {
  width: 40%;
}
.secondaSezione article .fotoArticolo img {
  width: 60%;
}

.secondaSezione article .nome {
  font-size: ;
  margin-top: 10px;
  display: flex;
}
.secondaSezione article .titolo {
  font-weight: 700;
}
.secondaSezione article .metaTesto {
  font-size: 0.8em;
  color: grey;
  width: 100%;
}
.secondaSezione article .data {
  color: lightslategray;
  font-size: 0.5em;
}
.secondaSezione article .nome img {
  height: 40px;
  margin-right: 15px;
}

.secondaSezione article .nome span {
  color: grey;
  margin-left: 5px;
  margin-right: 5px;
}

/* articoli */
